<div class="table">
  <div class="groups">Group Books: {{ groupBookedSize() }}</div>
  <div class="seats">Seat Books: {{ seatsBookedSize() }}</div>
  <div class="remaining">Remaining Seats: {{ availableBooksSize() }}</div>
  <div class="rejected">Rejected Books: {{ rejectedBookedSize() }}</div>

  <div *ngFor="let n of rows; let letter = index" class="row">
    <div *ngFor="let n of columns; let number = index" class="column">
      <div
        [style.color]="checkBooked(letter, number)"
        (click)="openDialog(letter, number)"
      >
        {{ getLetter(letter) }}{{ getNumber(number) }}
      </div>
    </div>
  </div>
</div>

<div class="overlay" *ngIf="showDialog" (click)="closeDialog()"></div>
<div class="modal" *ngIf="showDialog">
  <div class="modal-header"><h2>Add a new booking</h2></div>
  <div class="modal-body">
    <form>
      <p class="preferredSeat">Preferred Seat: {{ preferredSeat }}</p>
      <input
        type="text"
        id="bookingName"
        name="bookingName"
        placeholder="Name"
        [(ngModel)]="bookingName"
      />

      <label for="bookingSize">Tickets Quantity</label>

      <select [(ngModel)]="bookingSize" name="bookingSize">
        <option *ngFor="let values of bookingSizeValues">
          {{ values }}
        </option>
      </select>

      <button (click)="addNewSeat()" type="button">Submit</button>
    </form>
  </div>
</div>
